@page "/"

<SfIcon Name="IconName.Cut" Title="Cut"></SfIcon>
<SfIcon Name="IconName.Copy" @attributes="CustomAttr"></SfIcon>
<SfIcon Name="IconName.Paste" ></SfIcon>
<SfIcon IconCss="oi oi-list-rich"></SfIcon>

<SfButton IconCss="e-icons e-play" CssClass="e-flat" IsPrimary="true"
          IconPosition="IconPosition.Right">Play</SfButton>

<span class="e-icons e-search"></span>

<style>
    /*To override the common font settings*/
    /*.e-icons {
        color: #ff0000;
        font-size: 28px !important;
    }*/
</style>

@code{
    Dictionary<string, object> CustomAttr = new Dictionary<string, object>()
    {
        { "style", "color:#ff0000"}
    };
}
